<!DOCTYPE html>
<html>  
<head>  
    <title>Add Employee</title>  
</head>
<body>
<center>
    <h2 style=color:red>Employee Information</h2>
    <h1 style=color:cyan>Enter details</h1>
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
        <tr><td>Address</td><td><input type="text" name="address"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>
    </center>
</body>  
</html>



